.movie_list_header{
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.movie_list_header > h2{
    font-size: 30px;
    color:var(--heading_color);
}
.movie_filter_item{
    padding: 5px 10px;
    list-style: none;
}
.movie_sorting{
    padding:0px 10px;
    margin: 0 5px;
    border: none;
    outline:none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
.active{
    border-bottom: 1px solid white;

}
.movie_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}